.main {
  min-height: 100vh;
  background-color: white;
  padding: 3rem;
}

.title {
  display: flex;
  color: #666666;
  margin-bottom: 2rem;
  justify-content: center;
}

.formGroup {
  margin-bottom: 20px;
}

.labelForm{
  display: flex;
  margin-left: 10px;
  margin-top: 5px;
  color: black;
}

.inputForm,
.selectForm {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 0.5rem;
  background-color: #fff;
  color: black;
}

.btn {
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #2ecc71;
  color: #fff;
  cursor: pointer;
  margin-right: 0.5rem;
}

.btn:hover {
  background-color: #27ae60;
}

.btnGroup {
  display: flex;
  justify-content: center;
}